html
  head
    title=title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
  body
    div.container
      div.jumbotron
        h1 Create account
        form(method='POST' action='/accounts')
          div.form-group
            label(for='email') Email :
            input.form-control(type='email' id='email' placeholder='email' name='email')
          button.btn.btn-primary(type='submit') Create account 
          p
          p
            a.btn.btn-primary(href="/") Back