html
  head
    title=title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
  body
    div.container
      div.jumbotron
        h2 Welcome to my app #{title}!
        p
        if user
          p Welcome, #{user.fullName}
          p
            a.small(href="profile") Edit my profile
          form(action='/logout', method='POST')
            button.btn.btn-default(type="submit") Logout
        else
          //p Welcome to my app #{title}
          //p
              a.btn.btn-primary(href="/loginForm") Login now
          //p
            span.small Don't have an account?
            span &nbsp;
            a.small(href="/registerForm") Register now
          p
            a.btn.btn-primary(href="/accounts") List all accounts  

