html
  head
    title=title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
  body
    div.container
      div.jumbotron
        h1 #{title} page
        p
        h2 List of accounts
        ul
          for account in accounts
           li= 'Id : ' +account._id +' Email : '+ account.email 
          else
            li sorry, no accounts
          p 
          p
            a.btn.btn-primary(href="/") Back
                    

    
