html
  head
    title=title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
  body
    div.container
      div.jumbotron
        h1 Update account
        form(method='POST' action=account.url+'/update')
          div.form-group
            input#id.form-control(type='hidden',name='id', required='true', value=account._id )
            label(for='email') Email :
            input.form-control(type='email' id='email' placeholder='email' name='email')
          button.btn.btn-primary(type='submit') Update account
          p
          p
            a.btn.btn-primary(href=account.url) Back 